Source: ros-kinetic-map-organizer-msgs
Section: misc
Priority: optional
Maintainer: Atsushi Watanabe <atsushi.w@ieee.org>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-message-generation, ros-kinetic-nav-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-map-organizer-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-message-runtime, ros-kinetic-nav-msgs
Description: Message definitions for map_organizer_msgs package
