Source: ros-melodic-map-organizer-msgs
Section: misc
Priority: extra
Maintainer: Atsushi Watanabe <atsushi.w@ieee.org>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-message-generation, ros-melodic-nav-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-map-organizer-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-message-runtime, ros-melodic-nav-msgs
Description: Message definitions for map_organizer_msgs package
